# Allow binder communication with ims
binder_call(platform_app, ims)
allow platform_app ims_service:service_manager find;
allow platform_app qemu_hw_mainkeys_prop:file {read};
